// color scheme
$color__primary: #0AD48B;
$color__secondary: #26e49e;
$color__danger: rgba(215, 42, 73, 0.957);
$color__light: whitesmoke;
$color__dark: #3e3e3e;
$color__stars: rgb(255, 0, 111);

//measures
// $appheader__height: 80px;

.my-bg-primary {
    background-color: $color__primary;
}