@import "/node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/scss/variables.scss";

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
// * {
//   border: 1px solid black;
// }

a {
  text-decoration: none;
  font-weight: bolder;
  color: $color__light;
}

button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: blue;

}  